.about-team-button {
    all: unset;
}

.about-solimnt {
    width: inherit;
    padding: 0em 8em 1em 8em;
    text-align: justify;
}

.team-container {
    width: inherit;
    padding: 1em 5em;
}

.about-solimnt h3 {
    text-align: center;
    padding-top: 1em;
}
