.graph-viewer-page {
    width: 100%;
    height: 97vh;
    /* display: flex; */
    position: relative;
}

.graph-viewer-page h2 {
    position: absolute;
    top: 0;
    left: 1rem;
    margin: 0rem;
    padding: 0rem;
    z-index: 999;
    width: fit-content;
    text-align: left;
}

.graph-viewer-page h2 > span {
    color: #0d6dfd;
    font-weight: bold;
}

.react-transform-wrapper {
    width: 100% !important;
    height: 100% !important;
}
