.member-card {
    box-shadow: 5px 5px 8px #eee;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 1rem;
    transition-duration: 0.3s;
    /* border: 1px dashed #0d6dfd; */
}

.member-card:hover {
    box-shadow: 10px 10px 8px #ddd;
}

.member-card-photo img {
    width: 8rem;
    height: 8rem;
    border-radius: 100px;
}

.member-card-name {
    text-align: left;
    margin: auto;
    padding-left: 1rem;
}

.member-card-name h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

.member-card-name h6 {
    font-size: 1rem;
}

.member-card-social {
    padding: 0rem 4rem 0rem 0rem;
}

.member-card-social a {
    font-size: 1.5rem;
    color: #302f4d;
    transition-duration: 0.2s;
}

.member-card-social a:hover {
    color: #0d6dfd;
}
