.cfg-viewer {
    width: 100%;
    height: 97vh;
    /* display: flex; */
    position: relative;
}

.cfg-viewer h2 {
    position: absolute;
    top: 0;
    left: 1em;
    margin: 0em;
    padding: 0em;
    z-index: 999;
    width: fit-content;
    text-align: left;
}

.cfg-viewer h2 > span {
    color: #0d6dfd;
    font-weight: bold;
}

.react-transform-wrapper {
    width: 100%;
    height: 100%;
    /* display: flex; */
}

.cfg-download-button {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 9999;
    width: fit-content;
    background-color: #fff;
}
