.toolbox {
    margin: 1rem auto;
    border: 1px dashed #e64c66;

    width: 90%;
}

.toolbox-header {
    padding: 0.5rem 0rem;
    border-bottom: 1px dashed #e64c66;
    background-color: #f7f9fa;
}

.toolbox-header h3 {
    margin: 0;
}

.toolbox-tools {
    padding: 0.5rem;
}
