.header {
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px dashed #0d6dfd;
}

.header-title {
    margin: 0em;
}

.header-title a {
    text-decoration: none;
    color: inherit;
}

.title-name {
    font-weight: bolder;
    color: #0d6dfd;
}
