.footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    font-size: 1.1em;
    text-align: left;
    padding: 0em 0.5em;
    border-top: 1px dashed #0d6dfd;
}

.footer a {
    color: #e64c66;
}

.footer-copy {
    text-align: right;
}

.footer-about {
    text-align: center;
    color: #e64c66;
}

.footer-version {
    text-align: left;
}

.footer-version a {
    text-decoration: none;
    color: inherit;
}
